@font-face {
    font-family: druk;
    src: url(../fonts/druk/drukcondensed.otf);
}

// Layout
.container {
    width: 90%;
}

h1 {
    font-family: druk;
    color: black;
    text-transform: uppercase;
    font-size: 200px;
    line-height: 155px;
}

blockquote {
    margin: 0px;
}

.bodypadding {
    padding-top: 50px;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.light {
    font-weight: 200;
}

.hero {
    background: url(../images/giphy.gif) repeat center center fixed;
    background-size: 15%;
    height: 80vh;
}

.hide {
    display: none;
}

.stale {
    cursor: pointer;
    margin-top: 50px;
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 150px;
        line-height: 115px;
    }
    .hero {
        background: url(../images/giphy.gif) repeat center center fixed;
        background-size: 50%;
        height: 60vh;
    }
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 90px;
        line-height: 70px;
    }
}